.flex {
  display: flex;
  justify-content: center;
  font-family: monospace;
}

h1 {
  color: darkblue;
  text-shadow: 2px 3px 8px darkblue;
}
.container1 {
  width: 300px;
  height: 300px;
  background-color: grey;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-left: 20px;
}

.item0,
.item {
  width: 90px;
  height: 90px;
  background: red;
}

.contenedor-2 {
  width: 400px;
  height: 300px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item-1,
.item-2,
.item-3 {
  width: 90px;
  height: 90px;
  background: green;
}

.contenedor-3 {
  width: 200px;
  height: 300px;
  background-color: rgb(245, 12, 187);
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 20px;
  padding-bottom: 20px;
}

.item-4,
.item-5 {
  width: 90px;
  height: 90px;
  background: rgb(164, 7, 236);
}

.contenedor-4 {
  width: 200px;
  height: 300px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.item-6,
.item-7 {
  width: 50px;
  height: 50px;
  background: blue;
}

.contenedor-5 {
  width: 500px;
  height: 400px;
  background-color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.cuadro-1 {
  width: 150px;
  height: 150px;
  background: violet;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.item-8 {
  width: 50px;
  height: 50px;
  background: brown;
  display: flex;
  align-self: flex-end;
}

.item-9 {
  width: 50px;
  height: 50px;
  background: brown;
  display: flex;
  align-self: flex-start;
}

.cuadro-2 {
  width: 150px;
  height: 150px;
  background: violet;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.item-10 {
  width: 50px;
  height: 50px;
  background: brown;
  margin-top: 45px;
}

.item-11 {
  width: 30px;
  height: 30px;
  background: brown;
  margin-top: 45px;
}

.grupo,
.grupo-2 {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}
